<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <title>www.flybrownfield.com</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>


    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">BrownField Airline</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a th:href="@{/}">Search</a></li>
                        <li><a th:href="@{/search-booking}">CheckIn</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container">
            <table class="table table-inverse">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Flight</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Date</th>
                    <th>Fare</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="flight : ${uidata.flights}">
                    <td th:text="${flight.id}"/>
                    <td th:text="${flight.flightNumber}"/>
                    <td th:text="${flight.origin}"/>
                    <td th:text="${flight.destination}"/>
                    <td th:text="${flight.flightDate}"/>
                    <td th:text="${flight.fares.fare}"/>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>