<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>www.flybrownfield.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"  href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />



</head>
<body>


<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">BrownField Airline</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                    <li><a th:href="@{/}">Search</a></li>
                    <li><a th:href="@{/search-booking}">CheckIn</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <form action="#" th:action="@{/search}" th:object="${uidata.searchQuery}" method="post">
        <div class="form-group row">

            <label for="traveling" class="col-sm-2 col-form-label">Traveling from</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{origin}" class="form-control" id="traveling" placeholder="NYC" />
            </div>

        </div>

        <div class="form-group row">

            <label for="going-to" class="col-sm-2 col-form-label">Going to</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{destination}" class="form-control" id="going-to" placeholder="SFO" />
            </div>

        </div>

        <div class="form-group row">

            <label for="planning-on" class="col-sm-2 col-form-label">Planning on</label>
            <div class="col-sm-10">
                <input type="text" th:field="*{flightDate}"  class="form-control" id="planning-on" placeholder="22-JAN-16" />
            </div>

        </div>

        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>





<script type="text/javascript"  src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>