<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf 3 + Spring 4 example</title>
    <meta charset="utf-8" />
</head>
<body>
<h1>Thymeleaf 3 + Spring 4 example</h1>
<p>
    Hello <span th:text="${recipient}">Peter</span>!!!
</p>
</body>
</html>