<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">

    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Please Confirm</div>
            </div>

            <div style="padding-top:30px" class="panel-body">
                <div>
                    Do you authorize <span th:text="${authorizationRequest.clientId}"></span>
                    protected resources
                    with scope <span th:text="${authorizationRequest.scope}"></span>.
                </div>


                <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <form id="confirmationForm" class="form-inline" name="confirmationForm"
                          th:action="@{/oauth/authorize}" method="post">

                        <div style="margin-bottom: 25px" class="input-group">
                            <input class="form-control" name="user_oauth_approval" value="true" type="hidden"/>
                            <input class="form-control" name="scope.openid" value="true" type="hidden"/>
                        </div>

                        <button class="btn btn-primary" type="submit">Approve</button>
                    </form>
                </div>

                <div class="col-md-3">
                    <form id="denyForm" class="form-inline" name="confirmationForm" th:action="@{/oauth/authorize}"
                          method="post">
                        <input class="form-control" name="user_oauth_approval" value="false" type="hidden"/>

                        <button class="btn btn-primary" type="submit">Deny</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>